{% extends "template.html" %}
{% block body %}
<!-- Header -->
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <a href="/">
                <img class="logo logo--small" src="/static/img/logo.svg" />
            </a>
        </div>
        <div class="col-xs-6 end-xs">

        </div>
    </div>
</div>

<main class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h1>Result</h1>
            <p class="text-weak">
                We think these laws apply to your case. Here comes a more helpful explanation why this is important.
            </p>

            <p>
                Your case: {{ query }}
            </p>

            {% if doc %}
                <h2>Your upload</h2>
                <div style="text-align: center;">
                <img src="/static/uploads/{{ doc.filename }}" class="img-rounded" style="margin: 5px; max-width: 600px">
                </div>

                <div class="well"><strong>Extracted text:</strong> {{ query }}</div>

            {% endif %}

        </div>
    </div>

    {% if response %}

        <div class="row">
            <div class="col-xs-12">
                <h2>Relevant Paragraphs</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h3>Legal Text</h3>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h3>Interpretation Help</h3>
            </div>
        </div>

    {% for law_title, para_n, sample, full_text, punishments in response %}
    <div class="row results-item">
        <div class="col-xs-12 col-md-6">
            <div class="card">
                <div class="card--body">
                    <!-- Use <mark></mark> for highlights -->
                    <!-- Score: {{ score }} -->
                    <div id="sample_{{ law_title+para_n }}" class="law-text-sample">{{ sample }}</div>
                    <div id="{{ law_title+para_n }}"class="law-text-full hidden">{{ full_text| safe }}</div>

                </div>
                <div class="card--footer">
                    <div class="row">
                        <div class="col-xs-6">{{ law_title }} {% if para_n %}§{{ para_n }}{% endif %}</div>
                        <div class="col-xs-6 end-xs">
                            <input type="button" onclick="unhide(this, '{{ law_title+para_n }}') " value="unhide">
<!--
                            <a  onclick="unhide(this, '{{ law_title+para_n }}')" href="#">View full text</a>
-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <p>
                Elit aenean sociis tristique natoque magna ultricies in hac feugiat, fames malesuada sem risus integer tellus eget mus orci,
                senectus suspendisse ornare tempor velit nibh scelerisque ac. Interdum porta primis nisl curae, proin dolor
                turpis egestas leo, nulla eros mus.

                {% if punishments %}
                <br/>
                <b>Possible punishments are:</b>
                <ul>
                    {% for p in punishments%}
                        <li>
                            {{p}}
                        </li>
                    {% endfor %}
                    </ul>
                {%  endif %}
            </p>
        </div>

        {% endfor %}


        {% include 'lawyers.html' %}


    {% else %}
        <div class="alert alert-danger">Sorry, no results found.</div>
    {% endif %}
</main>
{% endblock %}
